<div data-hook="global-collect-payments">
  <% if payment_method.reusable_sources(current_order).any? %>
    <p>
      <%= label :global_collect, :reuse_profile %>:
      <%= check_box :global_collect, :reuse_profile, class: 'global-collect-reuse-profile' %>
    </p>
  <% end %>

  <p>
    <%= label :global_collect, :payment_product %>:
    <%= select :global_collect,
               :payment_product,
               payment_method.filtered_product_payments(current_order),
               { include_blank: true },
               class: 'global-collect-pay-select',
               data: {
                 link: "#global-collect-pay-link-#{payment_method.id}"
               } %>
  </p>

  <%= link_to Spree.t('global_collect.submit_order'),
        global_collect_hml_payment_path(global_collect: { payment_method_id: payment_method.id }),
        method: :post,
        remote: true,
        class: 'global-collect-pay-link',
        id: "global-collect-pay-link-#{payment_method.id}" %>

  <div id="global-collect-iframe-<%= payment_method.id %>"></div>
</div>
