<% if @response.valid? %>
  if ($('.flash.error').is('*')) {
    $('.flash.error').remove();
  }
  $("#global-collect-iframe-<%= @payment_method.id %>").html(
    $('<iframe src="<%= @response[:formaction] %>" width="500" height="300" frameborder="0">'));
<% else %>
  <% if Rails.env.production? %>
    var _error = '<div class="flash error"><%=j flash[:error] %></div>';
  <% else %>
    var _error = '<div class="flash error"><%=j flash[:error] %>:<br /><%=j @response.to_s %></div>';
  <% end %>

  if ($('.flash.error').is('*')) {
    $('.flash.error').replaceWith(_error);
  } else {
    $('#content').prepend(_error);
  }
<% end %>
